@import "./fonts";
@import "./colors";

html,
body {
  padding: 0.5rem 3rem;
  margin: 0;
  font-family: $roboto;
  background-color: $background-color;
  color: $font-color;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
